docs/_build
lib_managed
project/boot/
project/plugins/project/
src_managed
target
logs

.DS_Store
*.iws
*.ipr
*.iml
.ensime
.manager
.project
.settings
.classpath
.scala_dependencies
.idea
.hide
.target
*.sublime-project
.multi-jvm/
~
